:8888 {
    log
    redir / /ui/
    redir /auth/portal /ui/
	
    import /etc/gatekeeper/auth.txt
	
    route /rclone* {
        jwt
        uri strip_prefix /rclone
        reverse_proxy http://localhost:5572
    }
	
    route /webui* {
        jwt
        reverse_proxy http://127.0.0.1:5001
    }
	
    route /ipfs* {
        jwt
        reverse_proxy http://127.0.0.1:5001
    }
	
    route /api* {
        jwt
        reverse_proxy http://127.0.0.1:5001
    }
	
    handle_path /gateway/* {
        reverse_proxy http://127.0.0.1:8080
    }
	
    route /swarm* {
        reverse_proxy http://127.0.0.1:4001
    }
}